<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.dao.FarmingDetailMapper">
  <resultMap id="BaseResultMap" type="com.backend.entity.FarmingDetail">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="farmingId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="farmingOperatingId" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, farmingId, farmingOperatingId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from farming_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from farming_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.backend.entity.FarmingDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into farming_detail (farmingId, farmingOperatingId)
    values (#{farmingid,jdbcType=INTEGER}, #{farmingoperatingid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.backend.entity.FarmingDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into farming_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="farmingid != null">
        farmingId,
      </if>
      <if test="farmingoperatingid != null">
        farmingOperatingId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="farmingid != null">
        #{farmingid,jdbcType=INTEGER},
      </if>
      <if test="farmingoperatingid != null">
        #{farmingoperatingid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.backend.entity.FarmingDetail">
    update farming_detail
    <set>
      <if test="farmingid != null">
        farmingId = #{farmingid,jdbcType=INTEGER},
      </if>
      <if test="farmingoperatingid != null">
        farmingOperatingId = #{farmingoperatingid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.backend.entity.FarmingDetail">
    update farming_detail
    set farmingId = #{farmingid,jdbcType=INTEGER},
      farmingOperatingId = #{farmingoperatingid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>